/* globals */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: ch;
	src: url(/font/setofont.ttf);
}

$primary-color: #e8dddb;
$second-page: #f5f2ed;
$secondary-color: #cea48b;
$darker: #7d3e2d;
$pinkier: #f2c3bf;
$Hover: #a8a8a8;
