/*Home*/
@import '../../resets';

* {
	outline: none;
}

/*Home-Carousel*/

@media screen and (max-width: 767px) {
	.banner {
		width: 12rem;
		img {
			width: 12rem;
		}
	}
	.slick-thumb {
		img {
			width: 4rem;
			height: 4rem;
		}
	}

	.slick-dots {
		display: flex !important;
		bottom: 25px !important;
	}
	.slick-prev::before,
	.slick-next::before {
		font-size: 33px !important;
	}
	.slick-prev,
	.slick-next {
		width: 50px !important;
	}
	.CarouselWrapper .slick-prev:before,
	.CarouselWrapper .slick-next:before {
		line-height: 5 !important;
	}
	.animals {
		.slick-slider {
			height: 200vw;
		}
	}
}

@media screen and (max-width: 1440px) and (min-width: 768px) {
	.banner {
		width: 17rem;
		img {
			width: 18rem;
		}
	}
	.slick-thumb {
		img {
			width: 7rem;
			height: 7rem;
		}
	}
	.slick-prev::before,
	.slick-next::before {
		font-size: 3vw !important;
	}
	.slick-prev,
	.slick-next {
		width: 100px !important;
	}
}
@media screen and (min-width: 1440px) {
	.banner {
		width: 17rem;
		img {
			width: 18rem;
		}
	}
	.slick-thumb {
		img {
			width: 7rem;
			height: 7rem;
		}
	}
	.slick-prev::before,
	.slick-next::before {
		font-size: 3vw !important;
	}
	.slick-prev,
	.slick-next {
		width: 100px !important;
	}
}

.CarouselWrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	.slick-slider {
		grid-row: 1/2;
		grid-column: 1/2;
		width: 90vw;
		height: 100vh;
		margin: auto;
		overflow: hidden;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.banner {
		grid-row: 1/2;
		grid-column: 1/2;
		justify-self: center;
		align-self: center;
		z-index: 0;
		backdrop-filter: blur(8px);
		border-radius: 55%;
	}
	svg {
		position: absolute;
		top: 3px;
		grid-row: 1/2;
		grid-column: 1/2;
		justify-self: center;
		align-self: end;
		path {
			fill: #fff;
		}
	}
	.slick-list {
		grid-row: 1/3;
		grid-column: 1/3;
	}
	.slick-track {
		height: 100%;
	}
	.slick-slide > div {
		width: 100%;
		height: 100%;
		& > div {
			width: 100%;
			height: 100%;
			img {
				height: 100%;
			}
		}
	}
}

.slick-thumb {
	grid-row: 2/3;
	grid-column: 1/3;
	justify-self: center;
	align-self: center;
	margin-bottom: 70px !important;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	transition: all 0.6s;
	transition-delay: 0.9s;

	img {
		border-radius: 50%;
		transition: all 0.6s;
		filter: grayscale(100%);
		&:hover {
			border: 5px solid #fff;
		}
	}
	.slick-active {
		img {
			border: 5px solid #fff;
			filter: grayscale(0%);
		}
	}
}

.visible {
	visibility: visible;
	opacity: 1;
}

.slick-dots {
	position: static;
	width: 100%;
	li {
		width: 200px !important;
	}
}

.slick-prev,
.slick-next {
	grid-row: 1/3;
	grid-column: 1/3;
	position: static !important;
	z-index: 1;
	transform: translate(0) !important;
}

.slick-prev {
	justify-self: flex-start;
	align-self: center;
}
.slick-next {
	justify-self: end;
	align-self: center;
}

.svgOne {
	position: absolute;
	top: 0px;
	grid-row: 1/2;
	grid-column: 1/2;
	justify-self: center;
	align-self: end;
}

/*About*/
@media screen and (max-width: 767px) {
	.about {
		grid-template-rows: 80px 5fr !important;
		h1 {
			font-size: 9vw !important;
			margin-top: 3vw !important;
		}
		.aboutText {
			width: 90%;
			line-height: 5.5vw;
			font-size: 5.2vw;
			margin: 0vw auto 37vw auto;
		}
	}
}

@media screen and (max-width: 1440px) and (min-width: 768px) {
	.aboutText {
		width: 60vw;
		margin: 0vw auto 4vw auto;
		line-height: 1.5vw;
		font-size: 1.2vw;
	}
}
@media screen and (min-width: 1440px) {
	.aboutText {
		width: 60vw;
		margin: 0vw auto 4vw auto;
		line-height: 1.5vw;
		font-size: 1.2vw;
	}
}

.about {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 5fr;
	width: 90%;
	margin: 1vw auto 0 auto;
	font-family: ch;
	h1,
	.aboutText {
		text-align: center;
		grid-column: 1/2;
		grid-row: 2/3;
		//width: 60vw;

		//margin-bottom: 3vw;
		//line-height: 1.5vw;
		//font-size: 1.2vw;
	}
	h1 {
		grid-row: 1/2;
		font-size: 2vw;
	}

	svg {
		grid-row: 1/3;
		grid-column: 1/2;
		margin-top: 1vw;
		path {
			fill: #9c9583;
		}
	}
}

/*Home Products*/

@media screen and (max-width: 767px) {
	.homeProductsWrapper {
		grid-template-rows: 80px 4fr !important;
	}

	.homeProductsTitle {
		font-size: 9vw;
	}
	.homeProducts {
		margin: 0 2vw 58vw 2vw;
		& > div {
			.img {
				width: 15rem;
				height: 15rem;
				margin-bottom: 5vw;
				h1 {
					font-size: 9vw !important;
				}
			}
		}
	}
}

@media screen and (max-width: 1440px) and (min-width: 768px) {
	.homeProducts {
		margin: 0 2vw 26vw 2vw;
		& > div {
			.img {
				width: 18rem;
				height: 18rem;
			}
		}
	}
	.homeProductsTitle {
		font-size: 2vw;
	}
}
@media screen and (min-width: 1440px) {
	.homeProducts {
		margin: 0 2vw 13vw 2vw;
		& > div {
			.img {
				width: 18rem;
				height: 18rem;
			}
		}
	}
	.homeProductsTitle {
		font-size: 2vw;
	}
}
.homeProductsWrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 4fr;
	width: 90%;
	margin: 0 auto;
	background-color: #9c9583;
	svg {
		grid-row: 1/3;
		grid-column: 1/2;
		margin-top: 0.1vw;
		path {
			fill: #fff;
		}
	}
}
.homeProductsTitle {
	grid-row: 1/2;
	grid-column: 1/2;
	align-self: center;
	color: #fff;
	font-family: ch;
	text-align: center;
	padding: 40px 0;
}
.homeProducts {
	grid-row: 2/3;
	grid-column: 1/2;
	background-color: #9c9583;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

	> div {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 1vw;
		.img {
			//width: 18rem;
			//height: 18rem;
			border-radius: 50%;
			background-position: center;
			background-size: 18rem 18rem;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			&:hover {
				background-size: 20rem 20rem;
				transition: all 0.9s;
			}
			&:hover p {
				opacity: 1;
				left: 0;
				transition: all 0.6s;
				visibility: visible;
			}
			&:hover p::before {
				opacity: 1;
				left: 0;
				transition: all 0.9s;
				visibility: visible;
			}
			&:hover h1 {
				margin-top: 1rem;
				transition: all 0.3s;
			}
			&:hover a {
				margin-top: 2rem;
				opacity: 1;
				transition: all 0.3s;
			}
			h1 {
				color: #fff;
				font-family: ch;
				font-weight: 200;
				margin-top: 8rem;
				text-align: center;
				font-size: 2vw;
			}
		}

		p {
			position: relative;
			display: flex;
			justify-content: center;
			text-align: center;
			left: -25%;
			margin: 1rem 2rem 0 2rem;
			color: #fff;
			opacity: 0;
			visibility: hidden;
			&::before {
				content: '';
				position: absolute;
				left: 20%;
				top: -10px;
				height: 3px;
				width: 100%;
				background-color: #fff;
				visibility: hidden;
			}
		}
		a {
			margin-top: 2rem;
			z-index: 2;
			opacity: 0;
			button {
				border-radius: 15px;
				border: 1px solid #b7984d;
				padding: 5px 10px;
				background-color: #e9d4a5;
				font-family: ch;
				cursor: pointer;
			}
		}
	}
}

/* Animals */
@media screen and (max-width: 767px) {
	.animals {
		margin: -5vw auto 0 auto;
	}
	.myAnimalGrid {
		flex-direction: column;
		align-items: center;
		margin-bottom: 52vw;
		.description {
			width: 100%;
			margin-right: 0 !important;
			text-align: center;
			h2 {
				font-size: 8vw !important;
			}
			h4 {
				font-size: 7vw !important;
			}
			p {
				font-size: 5.2vw !important;
			}
			h4 {
				margin: 2vw auto 3vw auto;
			}
		}
	}
	.animals .picBackGround {
		width: 95%;
		margin: 0;
		img {
			height: 84vw;
			width: 100%;
		}
	}
	.animalsTitle {
		font-size: 9vw;
	}
	.animals .slick-slider {
		margin-top: 5vw;
		margin-bottom: 32vw;
	}
	.animals .petPicArrow {
		bottom: 32vw;
	}
	.slick-prev,
	.slick-next {
		margin-bottom: 36vw;
	}
}

@media screen and (max-width: 1440px) and (min-width: 768px) {
	.animals {
		margin: 0 auto;
		.description {
			width: 50%;
		}
	}
	.animals .slick-slider .slick-list .myAnimalGrid {
		height: 46vw;
	}
	.animals .slick-slider .slick-prev::before,
	.animals .slick-slider .slick-next::before {
		position: absolute;
		top: -24vw;
	}
	.animals .slick-slider .slick-prev::before {
		left: 72vw;
	}
	.animals .slick-slider .slick-next::before {
		left: -4vw;
	}
	.animals .react-photo-gallery--gallery {
		margin-bottom: 34vw;
	}
	.animals .petPicArrow {
		bottom: 10vw;
	}
	.animals .picBackGround {
		width: 50%;
		margin-left: 3vw;
		img {
			height: 29vw;
			width: 40vw;
		}
	}
	.animalsTitle {
		font-size: 2vw;
	}
}
@media screen and (min-width: 1440px) {
	.animals {
		margin: 0 auto;
		.description {
			width: 50%;
		}
	}
	.animals .slick-slider .slick-list .myAnimalGrid {
		height: 41vw;
	}
	.animals .slick-slider .slick-prev::before,
	.animals .slick-slider .slick-next::before {
		position: absolute;
		top: -24vw;
	}
	.animals .slick-slider .slick-prev::before {
		left: 72vw;
	}
	.animals .slick-slider .slick-next::before {
		left: -4vw;
	}
	.animals .react-photo-gallery--gallery {
		margin-bottom: 16vw;
	}
	.animals .petPicArrow {
		bottom: 10vw;
	}
	.animals .picBackGround {
		width: 50%;
		margin-left: 3vw;
		img {
			height: 29vw;
			width: 40vw;
		}
	}
	.animalsTitle {
		font-size: 2vw;
	}
}

.animals {
	font-family: ch;
	width: 90%;
	display: grid !important;
	z-index: 2;
	.animalsTitle {
		//font-size: 2vw;
		text-align: center;
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.slick-slider {
		display: grid !important;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		grid-column: 1/2;
		grid-row: 1/2;
		.slick-arrow {
			grid-column: 1/2;
			grid-row: 1/2;
			z-index: 2;
		}
		.slick-prev,
		.slick-next {
			background-color: transparent !important;
			width: 5vw !important;
			&::before {
				color: #000;
			}
		}
		button {
			grid-column: 1/2;
			grid-row: 1/2;
		}
		.slick-list {
			grid-column: 1/2;
			grid-row: 1/2;

			.myAnimalGrid {
				display: flex !important;
				position: relative;
				margin-top: 5vw;
				.picBackGround {
					//width: 50%;
					//margin-left: 3vw;
					img {
						//height: 29vw;
						//width: 40vw;
						object-position: top;
						object-fit: cover;
					}
					#clipped {
						clip-path: circle(40%);
					}
				}
				.description {
					//width: 50%;
					margin-right: 5vw;
					margin-top: 4vw;
					h2 {
						font-size: 1.5vw;
					}
					h4,
					p {
						font-size: 1vw;
					}
					.progressBarWrapper {
						display: flex;
						justify-content: space-between;
						margin-top: 4vw;
						.singleBar {
							margin: 0 1vw;
						}
						.singleBar-text {
							text-align: center;
							margin-top: 1vw;
						}
					}
				}
			}
		}
	}
	.petPicArrow {
		position: absolute;
		left: 50%;
		z-index: 2;
		animation: bouncePetArrow 1.5s infinite;
		.petPicIcon {
			&:hover {
				cursor: pointer;
			}
		}
	}
	.hiddenPics {
		margin-top: 7vw;
		img {
			object-fit: contain;
		}
	}
	svg {
		grid-column: 1/2;
		grid-row: 1/2;
		path {
			fill: #f7dfe2;
		}
	}
	.slick-slide {
		position: relative;
		outline: none;
		& > div {
			outline: none;
			.hiddenPics {
				outline: none;
				& > div {
					outline: none;
				}
			}
		}
		.react-photo-gallery--gallery {
			outline: none;
			& > div {
				outline: none;
			}
		}
	}
}
@keyframes bouncePetArrow {
	0% {
	}
	50% {
		margin-bottom: 12px;
	}
}

/* Contact */
@keyframes bounce {
	0% {
	}
	50% {
		transform: translate(0, 8px);
	}
}

@media screen and (max-width: 767px) {
	.ContactInfo {
		height: 119vw;
		width: 90%;
		margin: 0 auto;
		padding: 9vw;
	}
	h1 {
		font-size: 9vw;
		text-align: center;
	}
	.contact-info-item {
		i {
			font-size: 9vw;
		}
		span {
			font-size: 5.5vw;
		}
	}
	.screen {
		width: 90%;
		margin: 17vw auto 0 auto;
		.screen-header {
			padding: 3vw !important;
		}
		.screen-body-right {
			width: 100%;
			padding: 3vw;
			.app-title {
				font-size: 9vw;
				margin-bottom: 4vw;
				text-align: center;
			}
			.app-form-control {
				font-size: 5.5vw;
			}
			textarea {
				font-size: 5.5vw;
			}
			.app-form-button {
				width: 100%;
				font-size: 5.5vw;
			}
			.app-form-group {
				margin-bottom: 6vw;
			}
		}
		.screen-body-left {
			width: 0;
		}
	}
	.contactWrapper svg {
		margin-top: -20vw !important;
	}
}

@media screen and (max-width: 1440px) and (min-width: 768px) {
	.ContactInfo {
		position: absolute;
		height: 31vw;
		width: 31vw;
		padding: 4vw;
		h1 {
			font-size: 2vw;
		}
	}
	.contact-info-item {
		i {
			font-size: 2vw;
		}
		span {
			font-size: 1.5vw;
		}
	}
	.screen {
		position: absolute;
		width: 50vw;
		.screen-body-right {
			width: 37vw;
			.app-title {
				font-size: 2vw;
			}
			.app-form-control {
				font-size: 1.5vw;
			}
			textarea {
				font-size: 1.5vw;
			}
			.app-form-group {
				margin-bottom: 2vw;
			}
		}
		.screen-body-left {
			width: 14vw;
		}
	}
}
@media screen and (min-width: 1440px) {
	.ContactInfo {
		position: absolute;
		height: 31vw;
		width: 31vw;
		padding: 4vw;
		h1 {
			font-size: 2vw;
		}
	}
	.contact-info-item {
		i {
			font-size: 2vw;
		}
		span {
			font-size: 1.5vw;
		}
	}
	.screen {
		position: absolute;
		width: 50vw;
		.screen-body-right {
			width: 37vw;
			.app-title {
				font-size: 2vw;
			}
			.app-form-control {
				font-size: 1.5vw;
			}
			textarea {
				font-size: 1.5vw;
			}
			.app-form-group {
				margin-bottom: 2vw;
			}
		}
		.screen-body-left {
			width: 14vw;
		}
	}
}

.contactWrapper {
	position: relative;
	background: #f7dfe2;
	width: 90%;
	margin: 0 auto;
	font-family: ch;
	button,
	input,
	textarea {
		font-family: ch;
		font-weight: 700;
		letter-spacing: 1.4px;
		outline: none;
	}

	svg {
		margin-bottom: -1vw;
		margin-top: 20vw;
		path {
			fill: #ffc0cb;
		}
	}

	.ContactInfo {
		top: 13vw;
		right: 49vw;
		z-index: 1;
		background-color: #e43248;
		color: #fff;
		border-radius: 15px;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
		animation: bounce 1.5s infinite;
		.contact-info-items {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 100%;
			.contact-info-item {
				display: flex;
				i {
					margin-right: 1.5vw;
				}
			}
		}
	}

	.screen {
		animation: bounce 1.5s infinite;
		//position: absolute;
		//width: 50vw;
		right: 12vw;
		top: 4vw;
		background: #fff;
		border-radius: 15px;
		box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
	}

	.screen-header {
		display: flex;
		align-items: flex-start;
		padding: 1vw;
		background: #4d4d4f;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}

	.screen-header-left {
		margin-right: auto;
	}

	.screen-header-button {
		display: inline-block;
		width: 8px;
		height: 8px;
		margin-right: 3px;
		border-radius: 8px;
		background: white;
	}

	.screen-header-button.close {
		background: #e43248;
	}

	.screen-header-button.maximize {
		background: #e8e925;
	}

	.screen-header-button.minimize {
		background: #74c54f;
	}

	.screen-header-right {
		display: flex;
	}

	.screen-header-ellipsis {
		width: 8px;
		height: 8px;
		margin-left: 2px;
		border-radius: 8px;
		background: #999;
	}

	.screen-body {
		display: flex;
	}

	.screen-body-title {
		padding: 3vw 3.5vw;
	}

	.screen-body-body {
		padding: 0vw 3vw 5vw 3vw;
		.sent-label {
			padding: 1vw 2vw;
			margin: 0vw auto 3vw auto;
			background: lightgreen;
			color: #000;
			text-transform: capitalize;
			border-radius: 15px;
		}
	}

	.screen-body-item.left {
		display: flex;
		flex-direction: column;
	}

	.app-title {
		flex-direction: column;
		position: relative;
		color: #e43248;
		//font-size: 2vw;
	}

	.app-title:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		bottom: -10px;
		width: 100%;
		height: 4px;
		background: #e43248;
	}

	.app-form-group {
		//margin-bottom: 2vw;
		background-color: #f1f1f3;
		padding: 1vw;
		border-radius: 15px;
		width: 100%;
	}

	textarea {
		height: 8rem;
		border: none;
		color: #666;
		//font-size: 1.5vw;
	}

	.app-form-group.buttons {
		margin-bottom: 0;
		text-align: right;
	}

	.app-form-control {
		width: 100%;
		padding: 1vw 0;
		background: none;
		border: none;
		color: #666;
		font-size: 1.5vw;
		//text-transform: uppercase;
		outline: none;
		transition: border-color 0.2s;
	}

	.app-form-control::placeholder {
		color: #666;
	}

	.app-form-control:focus {
		border-bottom-color: #ddd;
	}

	.app-form-button {
		border: 3px solid #ea1d6f;
		color: #ea1d6f;
		font-size: 1.5vw;
		cursor: pointer;
		padding: 0.5vw 3vw;
		border-radius: 25px;
		outline: none;
	}

	.app-form-button:hover {
		color: #b9134f;
	}
}

//Footer
@media screen and (max-width: 767px) {
	.MainFooter {
		height: 35vw;
		i {
			padding: 1.5vw 2vw 1.5vw 2vw;
			font-size: 8vw;
		}
		.footerWrapper {
			height: 33vw;
		}
	}
}

@media screen and (max-width: 1440px) and (min-width: 768px) {
	.MainFooter {
		height: 12vw;
		i {
			padding: 1vw;
			font-size: 2vw;
		}
		.footerWrapper {
			height: 10vw;
		}
	}
}
@media screen and (min-width: 1440px) {
	.MainFooter {
		height: 12vw;
		i {
			padding: 1vw;
			font-size: 2vw;
		}
		.footerWrapper {
			height: 10vw;
		}
	}
}

.MainFooter {
	background-color: #ffc0cb;
	margin: 0 auto;
	width: 90%;
	//height: 12vw;
	.footerWrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		//height: 10vw;
	}
	i {
		background-color: #fff;
		color: #ea2775;
		//padding: 1vw;
		border-radius: 50%;
		border: 2px solid #ea2775;
		//font-size: 2vw;
		&::before {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
		&:hover {
			box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
			background-color: rgba(247, 223, 226, 1);

			transition: all 0.6s;
		}
		&:active {
			box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
			margin-top: 3px;
			transition: all 0.1s;
		}
	}
	a:nth-child(2) {
		margin: 0 1rem;
	}
}
