$pink: #f2e1dd;
$darker-pink: rgb(219, 171, 161);
$darkiest-pink: rgb(194, 127, 114);
$dark: rgb(155, 83, 69);
$regTrainsition: 0.4s;

.CartSVG {
	svg {
		path {
			fill: $pink;
		}
	}
}

@mixin RegButton($radius, $border-color) {
	background: transparent;
	border: 4px solid $border-color;
	border-radius: $radius;
	color: $border-color;
	font-family: ch;
	font-size: 25px;
	cursor: pointer;
	transition: $regTrainsition;
	&:focus {
		outline: none;
	}
	&:hover {
		color: #fff;
		background-color: $border-color;
	}
	&:active {
		color: #fff;
		background-color: $border-color;
	}
}

//empty cart
.emptyCart {
	font-size: 20px;
	font-family: ch;
	color: $dark;
	text-align: center;
	margin: auto;
	//padding: 6rem;
	letter-spacing: 3px;
	button {
		padding: 0 1rem;
		margin-top: 2rem;
		@include RegButton(15px, $darkiest-pink);
	}
}

//cart wrapper
@media screen and (max-width: 767px) {
	.cartWrapper {
		flex-direction: column-reverse;
		.cart-right {
			justify-content: space-around;
			button {
				padding: 0.1rem 0.5rem !important;
			}
		}
	}
	.cart-item {
		.cart-item-description {
			img {
				width: 4rem;
				height: 4rem;
			}
			p {
				font-size: 0.8em;
			}
		}
		& > p {
			font-size: 0.8em;
			width: 50%;
			margin: 0 auto;
		}
		.count {
			flex-direction: column;
		}
	}
	.emptyCart {
		padding: 3rem;
	}
}

@media screen and (max-width: 1440px) and (min-width: 768px) {
	.cartWrapper {
		flex-direction: column-reverse;
		padding: 2rem 3rem 6rem 3rem;
		.cart-right {
			justify-content: space-around;
			button {
				padding: 0.1rem 0.5rem !important;
			}
		}
	}
	.cart-item-description {
		img {
			width: 6rem;
			height: 6rem;
		}
	}
	.emptyCart {
		padding: 3rem;
	}
}
@media screen and (min-width: 1440px) {
	.cartWrapper {
		padding: 2rem 8rem 6rem 8rem;
		.cart-right {
			flex-direction: column;
			.paypal {
				position: absolute;
				bottom: 10%;
				left: 50%;
				transform: translate(-50%);
			}
		}
	}
	.cart-item-description {
		img {
			width: 6rem;
			height: 6rem;
		}
	}
	.emptyCart {
		padding: 6rem;
	}
}

.cartWrapper {
	background-color: $pink;
	display: flex;
	font-family: ch;
	.cart-left {
		flex-grow: 7;
		.cart-column {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
			text-align: center;
			padding: 1rem;
			margin: 1rem;
			.column {
				font-size: 30px;
			}
		}
	}
	.cart-right {
		flex-grow: 3;
		background-color: $darker-pink;
		text-align: center;
		padding: 1rem;
		margin: 1rem;
		border-radius: 15px;
		display: flex;
		//flex-direction: column;
		max-height: 60vh;
		position: relative;
		p {
			font-size: 30px;
		}
		button {
			@include RegButton(15px, $dark);
			padding: 1rem;
		}
		.price {
			p {
				margin-bottom: 1rem;
			}
		}
		.paypal {
			button {
				margin-bottom: 1rem;
			}
		}
	}
}

//cart single item
.cart-item {
	background-color: #fff;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
	text-align: center;
	align-items: center;
	margin: 1rem;
	padding: 1rem;
	font-size: 25px;
	border-radius: 15px;
	.cart-item-description {
		img {
			//width: 6rem;
			//height: 6rem;
			object-fit: contain;
			border-radius: 50%;
			border: 4px solid $darker-pink;
			transition: $regTrainsition;
			&:hover {
				filter: brightness(85%);
			}
		}
	}
	.count {
		display: flex;
		justify-self: center;
		cursor: pointer;
		p:nth-child(2) {
			margin: 0 1rem;
		}
	}
	.trash {
		cursor: pointer;
	}
}
